<div class="container">
  <mat-toolbar class="navbar">
    <button mat-icon-button>
      <mat-icon class="icon_light" (click)="snav.toggle()">
        menu
      </mat-icon>
    </button>
    <img class="logo" src="../../../assets/CedarIO.png">
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav opened="true" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="page-wrap">
        <a routerLink="/dashboard" mat-list-item>
          <mat-icon class="icon_sidebar">
            dashboard
          </mat-icon>
          <span>Dashboard</span>
        </a>
        <a routerLink="/dashboard/tickets" mat-list-item>
          <mat-icon class="icon_sidebar">
            question_answer
          </mat-icon>
          <span>Tickets</span>
        </a>
        <a *ngIf="!userRole()" routerLink="/dashboard/devices" mat-list-item>
          <mat-icon class="icon_sidebar">
            devices
          </mat-icon>
          <span>Devices</span>
        </a>
        <a *ngIf="!userRole()" routerLink="/dashboard/users" mat-list-item>
          <mat-icon class="icon_sidebar">
            supervisor_account
          </mat-icon>
          <span>Users</span>
        </a>
        <a routerLink="/dashboard/bookings" mat-list-item>
          <mat-icon class="icon_sidebar">
            date_range
          </mat-icon>
          <span>Bookings</span>
        </a>
        <a routerLink="/dashboard/classes" mat-list-item>
          <mat-icon class="icon_sidebar">
            school
          </mat-icon>
          <span>Classes</span>
        </a>
        <div class="sidebar-bottom">
          <a routerLink="/dashboard/settings" mat-list-item>
            <mat-icon class="icon_sidebar">
              settings
            </mat-icon>
            <span>Settings</span>
          </a>
          <a routerLink="/dashboard/logs" mat-list-item>
            <mat-icon class="icon_sidebar">
              notes
            </mat-icon>
            <span>Logs</span>
          </a>
          <mat-divider></mat-divider>
          <div class="icon_bottom">
            <div class="icon_padding">
              <button routerLink="/dashboard/account" mat-icon-button>
                <mat-icon>
                  account_circle
                </mat-icon>
              </button>
            </div>
            <div *ngIf="userRole()" class="icon_padding">
                <button routerLink="/dashboard/support" mat-icon-button>
                  <mat-icon>
                    help_outline
                  </mat-icon>
                </button>
              </div>
            <div *ngIf="!userRole()" class="icon_padding">
              <button routerLink="/app" mat-icon-button>
                <mat-icon>
                  open_in_new
                </mat-icon>
              </button>
            </div>
            <div class="icon_padding">
              <button routerLink="/dashboard/notifications" mat-icon-button>
                <mat-icon>
                  notification_important
                </mat-icon>
              </button>
            </div>
            <div class="icon_padding">
              <button mat-icon-button>
                <mat-icon>
                  power_settings_new
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>
