.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar {
    background-color: #3FAC93;
    box-shadow: 0 0 40px 0 #00000042;
    z-index: 1000;
    height: 3em;
    width: 100%;
}

.logo {
    padding-left: 1rem;
    display: block;
    width: 100%;
    max-width: 7rem;
}

.icon_light { 
    color: #ffffff; 
    padding-bottom: 0.125rem;
}

.sidenav-container {
    flex: 1;
}

mat-sidenav {
    background-color: #2D3B44;
    width: 15rem;
    z-index: 2000;
    padding-bottom: 3.75rem;
}

.mat-list-item {
    color: #ffffff;
}

.mat-nav-list {
    height: 90%;

}

.icon_sidebar {
    padding-left: 0.5rem;
    padding-right: 1em;
 }

.sidebar-bottom {
    position: absolute; 
    bottom: 0; 
    width: 100%;
} 

.icon_bottom {
 margin-left: 0.6rem;
 color: #ffffff; 
} 

.icon_padding {
 display: inline;
 padding: 0.4em;
}